html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

.t-bold {
  font-weight: bold; }

.t-small {
  font-size: .85rem; }

.t-medium-large {
  font-size: 1.45rem;
  line-height: 1.35em;
  margin-bottom: 1em; }

.t-margin {
  margin-bottom: 1em; }

.t-italic {
  font-style: italic; }

body {
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #fff; }

li {
  list-style-type: none; }

p {
  font-size: .95rem; }

a {
  color: #749bbb;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

strong {
  font-style: normal;
  font-weight: bold; }

.grid-column-1 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 6.5590375594%; }
  .grid-column-1:last-child {
    margin-right: 0; }

.grid-column-2 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 15.0536705086%; }
  .grid-column-2:last-child {
    margin-right: 0; }

.grid-column-3 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 23.5483034577%; }
  .grid-column-3:last-child {
    margin-right: 0; }

.grid-column-4 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 32.0429364069%; }
  .grid-column-4:last-child {
    margin-right: 0; }

.grid-column-5 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 40.537569356%; }
  .grid-column-5:last-child {
    margin-right: 0; }

@media only screen and (min-width: 1000px) {
  .grid-column-6 {
    float: left;
    display: block;
    margin-right: 1.9355953897%;
    width: 49.0322023051%; }
    .grid-column-6:last-child {
      margin-right: 0; } }

.grid-column-7 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 57.5268352543%; }
  .grid-column-7:last-child {
    margin-right: 0; }

@media only screen and (min-width: 875px) {
  .grid-column-8 {
    float: left;
    display: block;
    margin-right: 1.9355953897%;
    width: 66.0214682034%; }
    .grid-column-8:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 875px) {
  .grid-column-9 {
    float: left;
    display: block;
    margin-right: 1.9355953897%;
    width: 74.5161011526%; }
    .grid-column-9:last-child {
      margin-right: 0; } }

.grid-column-10 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 83.0107341017%; }
  .grid-column-10:last-child {
    margin-right: 0; }

.grid-column-11 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 91.5053670509%; }
  .grid-column-11:last-child {
    margin-right: 0; }

.grid-column-12 {
  float: left;
  display: block;
  margin-right: 1.9355953897%;
  width: 100%; }
  .grid-column-12:last-child {
    margin-right: 0; }

.l-contain {
  padding: 0 1em;
  position: relative;
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto; }
  .l-contain::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (min-width: 875px) {
    .l-contain {
      padding: 0 3em; } }
  @media only screen and (min-width: 1275px) {
    .l-contain {
      padding: 0em; } }

.l-center-content {
  left: 0;
  right: 0;
  margin: 0 auto; }

.l-text-center {
  text-align: center; }

.l-text-left {
  text-align: left; }

.l-text-right {
  text-align: right; }

.l-clear {
  clear: both; }

.l-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.menu {
  display: none; }

.menu--main .l-contain {
  padding: 0; }

.menu__sub {
  display: none; }

.menu__icon {
  font-size: .9em;
  margin-left: .5em;
  position: relative; }

.menu__sub--main {
  background: #688ba8; }

.menu__sub--util {
  background: #022234; }

@media only screen and (max-width: 1000px) {
  .menu__link--sub,
  .menu__link {
    color: #fff;
    display: block;
    padding: .65em 0 .65em 1em; }
  .menu__list--util {
    background: #022a41; }
  .menu__list--main {
    background: #749bbb; } }

@media only screen and (min-width: 1000px) {
  .menu {
    display: block; }
  .menu--main {
    border-top: 1px solid #ccc; }
  .menu__icon {
    color: #749bbb; }
  .menu--util {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
  .menu__item {
    position: relative;
    display: inline-block; }
  .menu__item--util {
    position: relative;
    top: -2em;
    font-size: .9em;
    margin-right: 1.25em; }
  .menu__item--main {
    margin-right: 3%; }
  .menu--main .menu__link {
    color: #022a41;
    line-height: 3rem;
    display: block;
    padding: 0em 1em; }
    .menu--main .menu__link:hover {
      background: #749bbb;
      color: #fff; }
      .menu--main .menu__link:hover + .menu__sub--main {
        display: block; }
  .menu__link--sub {
    color: #fff;
    line-height: 2.75em;
    font-size: .9rem; }
  .menu__sub {
    position: absolute;
    width: 16em;
    padding-left: 1em; }
  .menu__sub--util {
    display: none; } }

.menu-trigger {
  position: absolute;
  right: 1.5em;
  top: .4em;
  color: #749bbb; }
  @media only screen and (min-width: 1000px) {
    .menu-trigger {
      display: none; } }

.logo {
  background: #555555; }

.logo--mobile {
  width: 8em;
  height: 2.25em;
  margin-top: .5em;
  margin-bottom: .5em; }

.logo--desktop {
  width: 11em;
  height: 3em;
  margin: 1em 2em .5em 1em;
  display: none; }

@media only screen and (min-width: 1000px) {
  .logo--desktop {
    display: block; }
  .logo--mobile {
    display: none; } }

.search {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  height: 800px;
  z-index: 1000;
  text-align: center;
  display: none; }

.search__text {
  font-size: 2rem;
  padding-top: 4em;
  margin-bottom: 1em; }

.search__icon {
  width: 1.5em; }

.search__input {
  border-bottom: 1px solid #000;
  width: 50%; }

.search-icon {
  width: 1.25em;
  position: absolute;
  left: 1.25em;
  top: .4em; }
  @media only screen and (min-width: 1000px) {
    .search-icon {
      top: 1.75em; } }

.btn {
  border-radius: 3px;
  display: inline-block;
  padding: .4em .6em;
  box-shadow: 0px 4px 0px 0px #2f2f2f;
  cursor: pointer; }

.btn--small {
  font-size: .75rem; }

.btn--large {
  padding: .5em .9em;
  font-size: 1.1rem; }

.btn__text {
  color: #fff; }

.btn--blue {
  background: #749bbb;
  box-shadow: 0px 4px 0px 0px #4a7598; }

.btn--orange {
  background: #c88f42;
  box-shadow: 0px 4px 0px 0px #93672b; }

.hero {
  text-align: center;
  background: #000;
  color: #fff;
  position: relative; }
  .hero .l-contain {
    padding-top: 6em;
    padding-bottom: 6em; }

.hero__headline {
  font-size: 1.8rem;
  margin-bottom: .5em; }

.hero__caption {
  position: absolute;
  bottom: 1.15em; }

.header-top {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000; }

.header-top__number {
  position: absolute;
  right: 1em;
  top: 1.75em;
  display: none; }
  @media only screen and (min-width: 1000px) {
    .header-top__number {
      display: block; } }

.header-top__number-link {
  color: #022234;
  margin-left: .5em; }

.header-bottom {
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: .6em 0 .85em 0; }

.header-bottom__number {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 7px; }

.header-bottom__btn {
  margin-right: .25em; }

.page-section {
  padding: 6em 0; }

.page-section--quote {
  background: #000;
  padding: 4.75em 0;
  color: #fff; }
  @media only screen and (min-width: 875px) {
    .page-section--quote {
      text-align: right; }
      .page-section--quote .grid-column-8 {
        margin-left: 33.9785317966%; } }

.page-section--white {
  color: #022a41; }

.page-foot {
  text-align: center;
  padding: 2.5em 0;
  background: #022a41; }

@media only screen and (min-width: 1000px) {
  .page-foot {
    text-align: left; }
  .page-foot__social {
    float: left; }
  .page-foot__btn {
    float: right; } }

.page-micro {
  padding: 4em 0 2em 0;
  background: #022234;
  color: #999; }

.page-micro__copy {
  margin-bottom: 1.75em;
  font-size: .85rem; }

.page-micro__link {
  color: #999; }

.social__icon {
  width: 2.25em;
  margin: 0 .25em 1.25em 0; }
