.l-contain {
  padding: 0 1em;
  position:relative;
  @include outer-container();
  @include break-at-min(875) {
    padding: 0 3em;
  }
  @include break-at-min(1275) {
    padding: 0em;
  }
}

.l-center-content {
  @include center();
}

.l-text-center {
  text-align: center;
}

.l-text-left {
  text-align: left;
}

.l-text-right {
  text-align: right;
}

.l-clear {
  clear: both;
}

.l-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
