// Page Copy Styles
.t-bold {
	font-weight:$font-weight-bold;
}
.t-small {
	font-size:.85rem;
}
.t-medium-large {
	font-size: 1.45rem;
	line-height: 1.35em;
	margin-bottom:1em;
}
.t-margin {
	margin-bottom:1em;
}
.t-italic {
	font-style: italic;
}

p {
	font-size:.95rem;
}

@include break-at-min(800) {
	p {
		font-size:1rem;
	}
	.t-medium-large {
		font-size: 1.65rem;
	}
}

@include break-at-min(1275) {
	p {
		font-size:1.15rem;
	}
	.t-medium-large {
		font-size: 1.75rem;
	}
}

