.t-bold {
	font-weight:$font-weight-bold;
}
.t-small {
	font-size:.85rem;
}
.t-medium-large {
	font-size: 1.45rem;
	line-height: 1.35em;
	margin-bottom:1em;
}
.t-margin {
	margin-bottom:1em;
}
.t-italic {
	font-style: italic;
}