// Sitewide Colors  
$blue: #022a41;
$blue-dark: #022234;
$blue-light: #749bbb;
$blue-light-dark: #688ba8;
$orange: #c88f42;
$black: #000;
$black-medium: #555555;
$white: #fff;
$gray:#999;

// Primary Colors
$primary-color-1: $blue-light;
$primary-color-2: $orange;

// Secondary Colors
$secondary-color-1: $blue;
$secondary-color-2: $blue-dark; 
$secondary-color-3: $blue-light-dark;

// Font Weights
$font-weight-normal: normal;
$font-weight-bold: bold;