.footer-top {
	text-align:center;
	padding:2.5em 0;
}
.footer-top--blue {
	background:$secondary-color-1;
}

.footer-disclosure {
	padding:3em 0 1.5em 0;
}
.footer-disclosure__text {
	margin-bottom:1em;
}

.footer-disclosure--blue-dark {
	background:$secondary-color-2;
	color:$gray;
}
