// Logo Styling
.logo {
	background: $black-medium;
}

.logo--mobile {
	width:8em;
	height:2.25em;
	margin-top:.5em;
	margin-bottom:.5em;
}

// Created seperate desktop logo so it could be centered in-between Utility Nav
.logo--desktop {
	width:11em;
	height:3em;
	margin:1em 2em .5em 1em;
	display:none;
}

// Logo Media Queries
@include break-at-min($medium-large) {
	.logo--desktop {
		display:block;
	}
	.logo--mobile {
		display:none;
	}
}