// Page Footer
.page-foot {
	padding:4em 0 2em 0;
	background:$secondary-color-2;
	color:$gray;
	
}
.page-foot__copy {
	margin-bottom:1.75em;
	font-size:.85rem;

	@include break-at-min($medium-large) {
		font-size:.95rem;
	}
}

.page-foot__link {
	color:$gray;
}
