// Search Box Styles
.search {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  height: 800px;
  z-index: 1000;
  text-align: center;
  display: none;
}

.search__text {
  font-size: 1.5rem;
  padding-top: 5em;
  margin-bottom: 1em;
}

.search__icon {
  width: 1.75em;
  position: relative;
  top: -.5em;
}

.search__close {
  width: .75em;
  position: relative;
  top: -.1em;
  left: .5em;
}

.search__input {
  border-bottom: 2px solid #000;
  width: 16em;
}

// Search Box Media Queries
@include break-at-min($medium-large) {
  .search__text {
    font-size: 1.75em;
    padding-top: 5em;
    margin-bottom: 1.5em;
  }
  .search__input {
    width: 30em;
  }
}
